    
.staff-wraper {
   margin-top: 57px;
   padding: 20px;
   }
  .members{
   columns: 3;
   margin-top: 40px;
  }
 li::marker{
  color: violet
 }
  li {
    list-style-position: inside;
  }
  .administractions{
    position: relative;
    margin-inline: auto;
    margin-block: 90px;
    width:80vw;
    heigth:59vw;
    max-width: 380px;
    max-height: 280px;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    animation: animate 20s linear infinite 1s;
   }
 @keyframes animate {
   0% {
    transform: perspective(1000px) rotatey(0deg); 
   }
   5%, 20% {
    transform: perspective(1000px) rotatey(72deg); 
   }
  25%, 40% {
    transform: perspective(1000px) rotatey(144deg); 
   }
   45%, 60% {
    transform: perspective(1000px) rotatey(216deg); 
   }
   65%, 80% {
    transform: perspective(1000px) rotatey(288deg); 
   }
   85%, 100%{
    transform: perspective(1000px) rotatey(360deg);
   }
  }
  .administractions div{
    cursor: pointer;
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    heigth:100%;
    max-width: 380px;
    max-height: 280px;
    border-right: 5px solid white;
    box-shadow: -3px 3px 5px white;
    height:100%;
    backface-visibility: hidden;
    background: rgba(0, 0, 0, .1);
    transform: rotatey(calc(var(--i) * 72deg))
                translatez(260px);
   }
   
   .administractions div email{
     position: absolute;
     bottom: 15px;
     left: 15px;
    } 
  .administractions div::before{
   content="";
   position: absolute;
   inset: 0;
   z-index: 2;
   box-shadow: inset 0 0 15px red;
  }   
  .profile-card{
    position: relative;
    padding:10px;
    margin-bottom: 45px;
    border-radius: 5px;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, .6);
    overflow: hidden;
    transition: all .3s ease;
    min-height: 200px;
    text-align: center;
    background: #0df3ff;
    }
  
   .profile-card h1,
  .profile-card h2{
    color: #FF44CC;
    transition: all .3s ease;
   }
 .profile-card::before {
    content: "";
    top:100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FF44CC;
     position: absolute;
    transition: top 1s ease;
    }
  
  .profile-card:hover::before {
    position: absolute;
    top:0;
     box-shadow: inset 0 0 25px #fff;
  }      
  .details{
    position: absolute;
    font-size: 1.5rem;
    display: none;
    text-align: center;
  } 
 .profile-card:hover{
   transform:translate(5px, 10px);
   box-shadow: inset 0 0 25px #0df3ff;
  }
 .profile-card:hover .profile-card #subject,
 .profile-card h1,
  .profile-card .details{
   position: relative;
   z-index: 2;
   }
 .profile-card:hover h1{
  color: #0df3ff;
  }
  .profile-card:hover .more, .profile-card:hover .profile-card h2{
    display: none;
   }
    
 .profile-card:hover .details{
    display: inline-block;
    top:5px;
    
  }
.more{
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: none;
  margin: 3px;
  color: blue;
  padding: 3px;
  font-size: 18px;
  background: transparent;
 }
 .profile-card h1, .staff-wraper h1{
   border-bottom: 1px solid grey;
   margin-bottom: 18px;
 }
 .staff-wraper{
   text-align: center;
}
 .staff-wraper .pp{
   padding: 20px 10vw;
   font-size: 1.3rem; 
   }


     @media (max-width: 1200px) {
    ..administractions {
        width: 280px;
        height: 270px;
    }
    .administractions div {
        transform: rotateY(calc(var(--i) * 72deg)) translateZ(260px);
    }
}

    @media (max-width: 992px) {
    .administractions {
        width: 260px;
        height: 220px;
    }
    .administractions div {
        transform: rotateY(calc(var(--i) * 72deg)) translateZ(180px);
    }
   }

   @media (max-width: 768px){      
       html{
       font-size: 14px;
       line-height: 1.6;
       overflow-x: hidden
      }
       .navbar{
        padding: 10px 3vw;
      }
      .nav-links{
        font-size: min(3vw, 10px);
        gap: 2vw;
      }
      .nav-links li a{
       padding: 8px 2px;
      }
      .navbar .logo{
       font-size: min(3vw, 10px);
       margin-right: 5px;
      }
      
       
      .members{
      columns: 1;
      margin-top: 40px;
      }
     .profile-card{
      min-width: 300px;
    }
     .profile-card h1, .staff-wraper h1{
        font-size: 1.5rem;
    }
    .staff-wraper .pp{
       padding: 20px 40px;
    }
    .contacts{
     display: grid;
       grid-template-rows: 1fr 1fr;
       gap: 5px;
   }
  .administractions{
        width: 220px;
        height: 200px;
        transform: perspective(800px);
    }
    .administractions div{
        transform: rotateY(calc(var(--i) * 72deg)) translateZ(150px);
    }
   }

  @media (max-width: 480px) {
   
    .administractions {
        width: 180px;
        height: 180px;
    }
    .administractions div {
        transform: rotateY(calc(var(--i) * 72deg)) translateZ(120px);
    }
    .administractions h2,
    .administractions h3{
      font-size: 1rem;
    }
    .staff-wraper{
      padding: 20px 0;
   }
   .staff-wraper .pp {
      font-size: 1rem;
      padding: 20px;s
   }
}    